<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--new -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  </style>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">
<br>
<div class="w3-main" style="margin-left:80px">
        <div class="container">
          <h3 class="site-title">Dog's Profile</h3>
          <div class="row">
            <div class="col-md-9">
              <div class="panel">
                <button style="width: 150px" routerLink="/profile/{{this.owner}}">{{this.userForm.name}}'s Profile</button>
                <div class=" panel-body ">
                  <div class="col-md-5" style="margin-bottom: 30px">
                    <img class="img-responsive" src="http://localhost/gg/storage/app/public/images/{{this.dogDisplay}}" style="width:50%;">
                    <i class="fa fa-wrench" (click)="openDialog()" *ngIf="edit"> Edit Profile</i>
                    <div class=" clearfix">
                      <h1>{{this.dogName}}</h1>
                      <h4 style="font-style: italic;">"{{this.dogDesc}}"</h4>
                      <h5><strong>Age: </strong>{{this.dogAge}}</h5>
                      <h5><strong>Gender: </strong>{{this.dogGender}}</h5>
                      <h5><strong>Breed: </strong>{{this.dogBreed}}</h5>
                      <button class="btn btn-success btn-md pull-center" type="submit" *ngIf="edit" (click)="openDialog2()">Add Post</button>
                      <button class="btn btn-success btn-md pull-center" type="submit" *ngIf="edit" (click)="deleteDog()">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!-- First Photo Grid-->
      <div class="w3-row-padding" [hidden]="this.noPost">
        <div class="w3-third w3-container w3-margin-bottom" *ngFor="let p of post">
          <img src="http://localhost/gg/storage/app/public/images/{{p.pic}}" alt="Picture" style="width:100%" class="w3-hover-opacity" (click)="openDialog3(p.id)">
        </div>
      </div>
    </div>
  </body>
