<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/home">My Pet Republic</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href onclick="return false" *ngIf="!loggedOut" (click)="openDialog()">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href onclick="return false" *ngIf="!loggedOut" (click)="openDialogg()">Create</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onclick="return false" *ngIf="loggedIn" >
          {{this.data}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" >
          <a class="dropdown-item" href="/profile/{{objectID}}">Profile</a>
          <a class="dropdown-item" href="#">Notifications</a>
          <a class="dropdown-item" href="#">Following</a>
          <a class="dropdown-item" href="#">Followers</a>
          <a class="dropdown-item" href="#">My Pet</a>
          <a class="dropdown-item" href="/home" (click)="logout()" >Logout</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <div class="nav-link" id="search-box" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width:700px !important; color:black !important;"></div>
        <div class="dropdown-menu" id="hits" aria-labelledby="navbarDropdownMenuLink" style="width:300px !important; padding:0px;" >

          </div>
      </li>
    </ul>
  </div>
</nav>


<!--<div id="stats"></div>-->
