<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
  <div class="gaga">Login Page</div>
  <div class="row">
    <div class="col-md-4" >
      <div class="form-group">
        <label for="Email">Email:</label>
        <input type="text" [(ngModel)]="signing.email" class="form-control" id="email">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" [(ngModel)]="signing.password" class="form-control" id="password">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="btn-group">
        <button type="button" class="btn btn-submit"  (click)="submitLogin();">LOGIN</button>
      </div>
      <div>
        <a href="#">Create account</a> or <a href="#">reset password</a>
      </div>
    </div>
  </div>

</div>
