<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }
</style>
<h3><strong> Followers </strong></h3>
<br>
<div *ngFor="let u of user" style="display: inline">
  <div style="display:inline;">
    <img src="http://localhost/gg/storage/app/public/images/{{u.displaypic}}" style="width: 50px; height: 50px">
  </div>
  <div class="panel" style="display: inline">
    <button class="accordion" style="display: inline; width: 350px; align-content: center" (click)="reDirect(u.id)"><strong>{{u.username}}</strong></button>
  </div>
  <hr>
</div>
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
</script>
