<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>User profile form requirement</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg==" crossorigin="anonymous">
  <!-- Bootstrap Core CSS -->
  <!--     <link href="css/bootstrap.min.css" rel="stylesheet"> -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->

</head>

<body>
<div class="container">
  <div class="card">
    <img src="http://localhost/auth2/storage/app/public/images/{{this.display}}" alt="John" style="width:100%">
    <p class="title">NAME : {{this.uname}}</p>
    <p>EMAIL : {{this.uemail}}</p>
    <p>BIO : {{this.ubio}}</p>
    <p><button type="submit" (click)="onClick()" *ngIf="edit">Edit</button><button *ngIf="edit" >Add Pet</button></p>

  </div>
</div>
<div class="container" [hidden]="!view">
  <div class="card" *ngFor="let dog of doggies">
    <img src="http://localhost/auth2/storage/app/public/images/{{dog.displaypic}}" alt="John" style="width:100%">
    <p class="title">Dog NAME : {{dog.name}}</p>
    <p>Description : {{dog.desc}}</p>
    <p><button type="submit" (click)="onClick()" *ngIf="edit">Edit</button><button *ngIf="edit" >Add Pet</button></p>
  </div>
</div>

<div [hidden] = "!online">
    <div class="col-md-10 profile-form">
      <form class="form-horizontal" (ngSubmit)="submitUpdate()" #profileForm="ngForm">
          <!-- Form Name -->
          <legend>Profile</legend>
          <!-- Name input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Name (Full name)</label>
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input type="text" class="form-control input-md" id="name" required
                       [(ngModel)]="updateForm.name" name="name"
                       #name="ngModel" >
              </div>
            </div>
          </div>
          <!-- File Button -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="UploadPhoto">Upload photo</label>
            <div class="col-md-4">
              <input id="UploadPhoto" name="UploadPhoto" class="input-file" type="file" (change)="onFileUpload($event.target.files)">
            </div>
          </div>
          <!-- Bio input -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="bio">BIO (max 200 words)</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="bio" required
                     [(ngModel)]="updateForm.bio" name="bio"
                     #bio="ngModel" >
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" ></label>
            <div class="col-md-4">
              <button type="submit" class="btn btn-success">Submit</button>
              <button class="btn btn-danger"> Clear</button>
              <button a href onclick="return false" class="btn" (click)="offClick()" value="">Exit</button>
            </div>
          </div>
      </form>
    </div>
    <div class="col-md-2 hidden-xs">
      <img src="http://localhost/gg /storage/app/public/images/{{this.display}}" class="img-responsive img-thumbnail ">
    </div>
  </div>

<!-- jQuery Version 1.11.1 -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
</body>
