<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

<!--new -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="main-content">
  <div class="container">
    <h3 class="site-title">My Profile</h3>
    <div class="row">
      <div class="col-md-9">
          <div class="panel">
                <div class=" panel-body ">
                  <div class="col-md-5" style="margin-bottom: 30px">
                    <img class="img-responsive" src="http://localhost/gg/storage/app/public/images/{{this.display}}" style="width:50%;">
                    <i class="fa fa-wrench" (click)="openDialog2()" *ngIf="edit"> Edit Profile</i>
                    <div class=" clearfix">
                      <h2>{{this.updateForm.name}}</h2>
                      <h4>{{this.updateForm.email}}</h4>
                      <h5>{{this.updateForm.bio}}</h5>
                      <button class="btn btn-success btn-md pull-center" type="submit" (click)="openDialog()" *ngIf="edit">Add Pet</button>
                      <button class="btn btn-success btn-md pull-center" (click)="doFollow()" *ngIf="(!isFollowed) && (!edit)"  >Follow</button>
                      <button class="btn btn-success btn-md pull-center" (click)="doUnfollow()" *ngIf="(isFollowed) && (!edit)" >Unfollow</button>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="profile-block">
                      <ul class="list-group">
                        <li class="list-group-item" (click)="openDialog3()">Followers <span class="badge">{{updateForm.followers}}</span></li>
                        <li class="list-group-item" (click)="openDialog4()">Following<span class="badge">{{updateForm.followings}}</span></li>
                      </ul>
                    </div>
                  </div>
                  <div [hidden]="this.noDog">
                    <div class="col-md-12 outerdiv" *ngFor="let dog of doggies">
                      <div style="float: left;">
                        <img src="http://localhost/gg/storage/app/public/images/{{dog.displaypic}}" style="width: 150px;">
                      </div>
                      <ul class="list-inline" style="height: 220px; margin-left: 200px;">
                        <li><h3><strong>Name: </strong>{{dog.name}}  <a href onclick="return false" routerLink="/dogprofile/{{dog.id}}"><i class="fa fa-wrench">View Profile</i></a></h3></li><br>
                        <li><h4><strong>Desc: </strong>{{dog.desc}}</h4></li><br>
                        <li><h4><strong>Gender: </strong>{{dog.gender}}</h4></li><br>
                        <li><h4><strong>Age: </strong>{{dog.age}}</h4></li>
                      </ul>
                      <hr >
                    </div>
                  <div [hidden]="!this.noDog">
                    <p>Please tell {{updateForm.name}} to adopt a doggie :((</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>


<!-- jQuery Version 1.11.1 -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
