<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

<!--new -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
<div class="main-content">
  <div class="container">
    <h3 class="site-title">My Profile</h3>
    <div class="row">
      <div class="col-md-9">
          <div class="panel">
                <div class=" panel-body ">
                  <div class="col-md-5" style="margin-bottom: 30px">
                    <img class="img-responsive" src="http://localhost/gg/storage/app/public/images/{{this.display}}" style="width:50%;">
                    <i class="fa fa-wrench" (click)="onClick()" *ngIf="edit"> Edit Profile</i>
                    <div class=" clearfix">
                      <h2>{{this.updateForm.name}}</h2>
                      <h4>{{this.updateForm.email}}</h4>
                      <h5>BIO: {{this.updateForm.bio}}</h5>
                      <button class="btn btn-success btn-md pull-center" type="submit" (click)="openDialog()" *ngIf="edit">Add Pet</button>
                    </div>
                  </div>
                  <div class="col-md-7">
                    <div class="profile-block">
                      <ul class="list-group">
                        <li class="list-group-item">Followers <span class="badge">12</span></li>
                        <li class="list-group-item">Following<span class="badge">5</span></li>
                      </ul>
                    </div>
                  </div>
                  <div [hidden]="this.noDog">
                    <div class="col-md-12 outerdiv" *ngFor="let dog of doggies">
                      <div style="float: left;">
                        <img src="http://localhost/gg/storage/app/public/images/{{dog.displaypic}}" style="width: 150px;">
                      </div>
                      <ul class="list-inline" style="height: 220px; margin-left: 200px;">
                        <li><h3><strong>Name: </strong>{{dog.name}}  <a href onclick="return false" routerLink="/dogprofile/{{dog.id}}"><i class="fa fa-wrench" >View Profile</i></a></h3></li><br>
                        <li><h4><strong>Desc: </strong>{{dog.desc}}</h4></li><br>
                        <li><h4><strong>Gender: </strong>{{dog.gender}}</h4></li><br>
                        <li><h4><strong>Age: </strong>{{dog.age}}</h4></li>
                      </ul>
                      <hr >
                    </div>

                  <div [hidden]="!this.noDog">
                    <p>Please tell {{updateForm.name}} to adopt a doggie :((</p>
                  </div>
                </div>
              </div>

          </div>
        </div>
      </div>
    </div>
</div>

<div [hidden] = "!online">
    <div class="col-md-10 profile-form">
      <form class="form-horizontal" (ngSubmit)="submitUpdate()" #profileForm="ngForm">
          <!-- Form Name -->
          <legend>Profile</legend>
          <!-- Name input-->
          <div class="form-group">
            <label class="col-md-4 control-label" for="name">Name (Full name)</label>
            <div class="col-md-4">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="fa fa-user">
                  </i>
                </div>
                <input type="text" class="form-control input-md" id="name" required
                       [(ngModel)]="updateForm.name" name="name"
                       #name="ngModel" value="{{this.updateForm.name}}">
              </div>
            </div>
          </div>
          <!-- File Button -->
          <div class="form-group">
            <label class="col-md-4 control-label">Upload photo</label>
            <div class="col-md-4">
              <!-- <input id="UploadPhoto" name="UploadPhoto" class="input-file" type="file" (change)="onFileUpload($event.target.files)"> -->
              <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)" (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                <span></span>
              </file-drop>
              <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i=index">
                    <td><strong>{{ item.relativePath }}</strong></td>
                </tr>
            </tbody>
        </table>
            </div>
          </div>
          <!-- Bio input -->
          <div class="form-group">
            <label class="col-md-4 control-label" for="bio">BIO (max 200 words)</label>
            <div class="col-md-4">
              <input type="text" class="form-control" id="bio" required
                     [(ngModel)]="updateForm.bio" name="bio"
                     #bio="ngModel" value="{{this.updateForm.bio}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" ></label>
            <div class="col-md-4">
              <button type="submit" class="btn btn-success">Submit</button>
              <button class="btn btn-danger"> Clear</button>
              <button a href onclick="return false" class="btn" (click)="offClick()" value="">Exit</button>
            </div>
          </div>
      </form>
    </div>
    <div class="col-md-2 hidden-xs">
      <img src="http://localhost/gg/storage/app/public/images/{{this.display}}" class="img-responsive img-thumbnail ">
    </div>
  </div>


<!-- jQuery Version 1.11.1 -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>
