<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--new -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  </style>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
    <div class="w3-third" *ngFor="let p of post">
      <div style="width: 402px" (ngSubmit)="commentPost(this.data['postID'])">
        <h4><strong>
          <a (click)="close()" routerLink="/profile/{{this.data['ownerID']}}">{{this.data['ownerName']}} 's</a>
          <p (click)="close()">{{this.data['dogName']}}</p>
        </strong>
          <i class="fa fa-trash" style="float: right; padding-left:15px" (click)="deletePost(this.data['postID'])" *ngIf="edit"></i>
          <i class="fa fa-wrench" style="float: right;" (click)="doEdit()" *ngIf="edit"></i>
        </h4>
        <img src="http://localhost/gg/storage/app/public/images/{{p.pic}}">
        <div class="w3-container w3-white">
          <h4><strong>{{p.caption}}</strong>
            <a href onclick="return false" style="float: right"><i class="fa fa-heart-o" *ngIf="!isLiked" style="margin-left: 200px" (click)="likePost(this.data['postID'])"><strong>{{this.countLike}}</strong></i></a>
            <a href onclick="return false" style="float: right"><i class="fa fa-heart" *ngIf="isLiked" style="margin-left: 200px" (click)="unlikePost(this.data['postID'])"><strong>{{this.countLike}}</strong></i></a>
          </h4>
          <h5><i class="fa fa-location-arrow"></i> &nbsp; {{p.location}}</h5>
              <input type="text" id="comment" [(ngModel)]="postForm.comment" *ngIf="edit3">
                <button type="submit" (click)="commentPost(p.id)" *ngIf="edit3">Comment</button>
                <button type="submit" (click)="getComment(p.id)">View Comment</button>
          <p style="margin-top: 10px">{{p.created_at}}</p>
        </div>
      </div>
      <div class="w3-third" [hidden]="!edit2">
        <p><strong>Edit</strong></p>
        <p>Location</p><input type="text" id="location" [(ngModel)]="postForm.location" placeholder="{{p.location}}">
        <p>Caption</p><input type="text" id="caption" [(ngModel)]="postForm.caption" placeholder="{{p.caption}}">
        <button type="submit" (click)="editPost(this.data['postID'])" >Edit</button>
      </div>
      <div>
        <div *ngFor="let c of comment" [hidden]="!edit4">
          <div style="display: inline"><strong>{{c.username}}</strong></div>
          <div style="display: inline">{{c.comment}}</div>
          <div style="display: inline">{{c.created_at}}</div>
          <button type="submit" (click)="deleteComment(c.id)" *ngIf="edit">Delete</button>
        </div>
      </div>
  </div>
