<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!--new -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ Include the above in your HEAD tag ---------->
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
  </style>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
    <div class="w3-third" *ngFor="let p of post">
      <div class="w3-card" style="width: 402px" (ngSubmit)="commentPost(p.id)">
        <img src="http://localhost/gg/storage/app/public/images/{{p.pic}}">
        <div class="w3-container w3-white">
          <h4><strong>{{p.caption}}</strong>
            <a href onclick="return false" ><i class="fa fa-heart-o" *ngIf="!isLiked" style="margin-left: 200px" (click)="likePost(p.id)"><strong>{{this.countLike}}Likes</strong></i></a>
            <a href onclick="return false" ><i class="fa fa-heart" *ngIf="isLiked" style="margin-left: 200px" (click)="unlikePost(p.id)"><strong>{{this.countLike}}Likes</strong></i></a>
          </h4>
          <h4>{{p.location}}</h4>
              <input type="text" id="comment" [(ngModel)]="postForm.comment">
                <button type="submit" (click)="commentPost(p.id)">enter</button>
        </div>
        <div style="margin-left: 20px">
        <button class="btn btn-success btn-md pull-center" type="submit" (click)="editPost(p.id)">Edit Post</button>
        <button class="btn btn-danger btn-md pull-center" type="submit" (click)="deletePost(p.id)">Delete Post</button>
        </div>
      </div>
    <div class="w3-main" style="margin-left:300px">
      <div class="w3-row-padding" [hidden]="!edit">
        <p>Edit here</p>
      </div>
    </div>
  </div>
